<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> link}}
    <title>Página Web | About</title>
</head>

<body>
    
    {{> navbar  }}

    <div class="row">
        <div class="col-8">
            <h1>Primera imagen</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/LRM_EXPORT_20180219_231749.jpg" alt="" class="img-thumbnail">
        </div>
    </div>

    {{> footer}}

    {{> scripts}}
</body>

</html>